{% import "macros.html" as macros %}

{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<div id="DV-viewer-4390245-Mnuchin-Letter-Broadcom-Qualcomm" class="DC-embed DC-embed-document DV-container"></div><script src="//assets.documentcloud.org/viewer/loader.js"></script><script>  DV.load("https://www.documentcloud.org/documents/4390245-Mnuchin-Letter-Broadcom-Qualcomm.js", {  responsive: true,    sidebar: false,    container: "#DV-viewer-4390245-Mnuchin-Letter-Broadcom-Qualcomm"  });</script><noscript>  <a href="https://assets.documentcloud.org/documents/4390245/Mnuchin-Letter-Broadcom-Qualcomm.pdf">Mnuchin Letter Broadcom Qualcomm (PDF)</a>  <br />  <a href="https://assets.documentcloud.org/documents/4390245/Mnuchin-Letter-Broadcom-Qualcomm.txt">Mnuchin Letter Broadcom Qualcomm (Text)</a></noscript>

{% endmarkdown %}
{% endblock %}
