{% import "macros.html" as macros %}

{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<div class="document">
  <div id="DV-viewer-4380573-Russia-indictment-Mueller-probe" class="DC-embed DC-embed-document DV-container"></div><script src="//assets.documentcloud.org/viewer/loader.js"></script><script>  DV.load("https://www.documentcloud.org/documents/4380573-Russia-indictment-Mueller-probe.js", {  responsive: true,    sidebar: false,    container: "#DV-viewer-4380573-Russia-indictment-Mueller-probe"  });</script><noscript>  <a href="https://assets.documentcloud.org/documents/4380573/Russia-indictment-Mueller-probe.pdf">Russia-indictment-Mueller-probe (PDF)</a>  <br />  <a href="https://assets.documentcloud.org/documents/4380573/Russia-indictment-Mueller-probe.txt">Russia-indictment-Mueller-probe (Text)</a></noscript>
</div>
{% endmarkdown %}
{% endblock %}
