{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<!--<div class="document">
<iframe scrolling="no" src="./documentCloud.html" width="100%" height="500px" style="border:0;"></iframe>
</div>-->

Company accounts and other official documents detail the chancellor <a href="https://www.ft.com/stream/peopleId/TnN0ZWluX1BOX1BvbGl0aWNpYW5fNDA1-UE4=">Philip Hammond</a>’s varied business career which stretched over four decades. Analysed by FT reporters, they show that <a href="https://www.ft.com/content/ecc02856-5e56-11e6-a72a-bd4bf1198c63">his success varied greatly</a> over the years.

<h2>A summer school for Iranian students</h2>

Fresh from Oxford in 1978, Philip Hammond and Colin Moynihan resolved to run a summer school for Iranian students, calling it Thames Educational Projects. <em>(Source: Companies House)</em>


<div class="document">
	<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 15 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/3031834-ThamesEdProjects1.html#document/p15" title="View entire Hammond and Moynihan set Thames Educational Projects on DocumentCloud in new window or tab" target="_blank">Hammond and Moynihan set Thames Educational Projects</a>
  </div>
  <img src="//assets.documentcloud.org/documents/3031834/pages/ThamesEdProjects1-p15-normal.gif?1471626952" srcset="//assets.documentcloud.org/documents/3031834/pages/ThamesEdProjects1-p15-normal.gif?1471626952 700w, //assets.documentcloud.org/documents/3031834/pages/ThamesEdProjects1-p15-large.gif?1471626952 1000w" alt="Page 15 of Hammond and Moynihan set Thames Educational Projects" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> the 
    <a href="https://www.documentcloud.org/public/search/Group:ft" title="View documents contributed to DocumentCloud by Financial Times in new window or tab" target="_blank">Financial Times</a> &bull;
    <a href="https://www.documentcloud.org/documents/3031834-ThamesEdProjects1.html#document/p15" title="View entire Hammond and Moynihan set Thames Educational Projects on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/3031834/pages/ThamesEdProjects1-p15.txt" title="Read the text of page 15 of Hammond and Moynihan set Thames Educational Projects on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>

</div>

<h2>Iranian revolution scuppers project</h2>

In 1979, the Thames Educational Projects venture was derailed by the Iranian Revolution or, as the pair put it, "international events outside the control of the company" that caused all student bookings to be cancelled. <em>(Source: Companies House)</em>

<div class="document">
	<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 7 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/3031835-ThamesEdProjects2.html#document/p7" title="View entire Thames Educational Projects is derailed by the Iranian revolution on DocumentCloud in new window or tab" target="_blank">Thames Educational Projects is derailed by the Iranian revolution</a>
  </div>
  <img src="//www.documentcloud.org/documents/3031835/pages/ThamesEdProjects2-p7-normal.gif?1471626443" srcset="//www.documentcloud.org/documents/3031835/pages/ThamesEdProjects2-p7-normal.gif?1471626443 700w, //www.documentcloud.org/documents/3031835/pages/ThamesEdProjects2-p7-large.gif?1471626443 1000w" alt="Page 7 of Thames Educational Projects is derailed by the Iranian revolution" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by the
    <a href="https://www.documentcloud.org/public/search/Group:ft" title="View documents contributed to DocumentCloud by Financial Times in new window or tab" target="_blank">Financial Times</a> &bull;
    <a href="https://www.documentcloud.org/documents/3031835-ThamesEdProjects2.html#document/p7" title="View entire Thames Educational Projects is derailed by the Iranian revolution on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/3031835/pages/ThamesEdProjects2-p7.txt" title="Read the text of page 7 of Thames Educational Projects is derailed by the Iranian revolution on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>

</div>

<h2>Hammond purchases Speywood Medical for £1</h2>

At the age of 24 in 1980, Mr Hammond secured backing from Barclays bank to acquire Speywood Medical, a loss-making firm that manufactured electrodes and leads for electrocardiograph machines. <em>(Source: Companies House)</em>

<div class="document">
	<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 16 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/3031836-spywood1.html#document/p16" title="View entire Hammond purchases Speywood Medical for £1 on DocumentCloud in new window or tab" target="_blank">Hammond purchases Speywood Medical for £1</a>
  </div>
  <img src="//www.documentcloud.org/documents/3031836/pages/spywood1-p16-normal.gif?1471626816" srcset="//www.documentcloud.org/documents/3031836/pages/spywood1-p16-normal.gif?1471626816 700w, //www.documentcloud.org/documents/3031836/pages/spywood1-p16-large.gif?1471626816 1000w" alt="Page 16 of Hammond purchases Speywood Medical for £1" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by the 
    <a href="https://www.documentcloud.org/public/search/Group:ft" title="View documents contributed to DocumentCloud by Financial Times in new window or tab" target="_blank">Financial Times</a> &bull;
    <a href="https://www.documentcloud.org/documents/3031836-spywood1.html#document/p16" title="View entire Hammond purchases Speywood Medical for £1 on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/3031836/pages/spywood1-p16.txt" title="Read the text of page 16 of Hammond purchases Speywood Medical for £1 on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>

</div>


<h2>Campaign leaflet from 1994</h2>

In 1994, Mr Hammond unsuccessfully contested the safe Labour seat of Newham on a platform of lower taxes, improved healthcare and the reintroduction of capital punishment. <em>(Source: Newham Archives & Local Studies Library)</em>

<div class="document">
	<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 1 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/3031742-Election-Leaflet-1994.html#document/p1" title="View entire Campaign leaflet from 1994 on DocumentCloud in new window or tab" target="_blank">Campaign leaflet from 1994</a>
  </div>
  <img src="//www.documentcloud.org/documents/3031742/pages/Election-Leaflet-1994-p1-normal.gif?1471620652" srcset="//www.documentcloud.org/documents/3031742/pages/Election-Leaflet-1994-p1-normal.gif?1471620652 700w, //www.documentcloud.org/documents/3031742/pages/Election-Leaflet-1994-p1-large.gif?1471620652 1000w" alt="Page 1 of Campaign leaflet from 1994" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by the
    <a href="https://www.documentcloud.org/public/search/Group:ft" title="View documents contributed to DocumentCloud by Financial Times in new window or tab" target="_blank">Financial Times</a> &bull;
    <a href="https://www.documentcloud.org/documents/3031742-Election-Leaflet-1994.html#document/p1" title="View entire Campaign leaflet from 1994 on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/3031742/pages/Election-Leaflet-1994-p1.txt" title="Read the text of page 1 of Campaign leaflet from 1994 on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>

</div>


<h2>Campaign leaflet from 1997</h2>

Mr Hammond successfully contested the safe Conservative seat of Runnymede and Weybridge in 1997. <em>(Reproduced by permission of Surrey History Centre)</em>


<div class="document">
	<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 1 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/3031757-Hammond-Electionleaflet.html#document/p1" title="View entire Campaign leaflet from 1997 on DocumentCloud in new window or tab" target="_blank">Campaign leaflet from 1997</a>
  </div>
  <img src="//www.documentcloud.org/documents/3031757/pages/Hammond-Electionleaflet-p1-normal.gif?1471620644" srcset="//www.documentcloud.org/documents/3031757/pages/Hammond-Electionleaflet-p1-normal.gif?1471620644 700w, //www.documentcloud.org/documents/3031757/pages/Hammond-Electionleaflet-p1-large.gif?1471620644 1000w" alt="Page 1 of Campaign leaflet from 1997" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by the
    <a href="https://www.documentcloud.org/public/search/Group:ft" title="View documents contributed to DocumentCloud by Financial Times in new window or tab" target="_blank">Financial Times</a> &bull;
    <a href="https://www.documentcloud.org/documents/3031757-Hammond-Electionleaflet.html#document/p1" title="View entire Campaign leaflet from 1997 on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/3031757/pages/Hammond-Electionleaflet-p1.txt" title="Read the text of page 1 of Campaign leaflet from 1997 on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>

</div>


<h2>Campaign leaflet from 1997</h2>

Mr Hammond sets out his stall for the 1997 general election. (Reproduced by permission of Surrey History Centre)</em>

<div class="document">
	<div class="DC-embed" data-version="1.1">
  <div style="font-size:10pt;line-height:14pt;">
    Page 1 of <a class="DC-embed-resource" href="https://www.documentcloud.org/documents/3031756-Hammond97-4-2.html#document/p1" title="View entire Campaign leaflet from 1997 on DocumentCloud in new window or tab" target="_blank">Campaign leaflet from 1997</a>
  </div>
  <img src="//www.documentcloud.org/documents/3031756/pages/Hammond97-4-2-p1-normal.gif?1471620648" srcset="//www.documentcloud.org/documents/3031756/pages/Hammond97-4-2-p1-normal.gif?1471620648 700w, //www.documentcloud.org/documents/3031756/pages/Hammond97-4-2-p1-large.gif?1471620648 1000w" alt="Page 1 of Campaign leaflet from 1997" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
  <div style="font-size:8pt;line-height:12pt;text-align:center">
    Contributed to
    <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by the 
    <a href="https://www.documentcloud.org/public/search/Group:ft" title="View documents contributed to DocumentCloud by Financial Times in new window or tab" target="_blank">Financial Times</a> &bull;
    <a href="https://www.documentcloud.org/documents/3031756-Hammond97-4-2.html#document/p1" title="View entire Campaign leaflet from 1997 on DocumentCloud in new window or tab" target="_blank">View document</a> or
    <a href="https://www.documentcloud.org/documents/3031756/pages/Hammond97-4-2-p1.txt" title="Read the text of page 1 of Campaign leaflet from 1997 on DocumentCloud in new window or tab" target="_blank">read text</a>
  </div>
</div>
<script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>

</div>


{% endmarkdown %}
{% endblock %}
